#audit-report-fixs {}

td strong a {
    text-decoration: none;
    color: #0074CD;
}

td strong a:hover {
    text-decoration: underline;
}

#auditReport tbody tr:last-child {
    height: 48px;
    background: #FFF;
}

#auditReport tbody tr:last-child td:first-child {
    text-indent: 16px;
}

#auditReport {
    margin-top: 0px;
}

#mapTable {
    border: 0;
}

