#DIV_CONTROL_TAG {
	margin-top: 40px !important;
}

.maxBorder tbody tr td a:hover, .minBorder tbody tr td a:hover {
	text-decoration: none;
}

table.report {
	width: calc(100% - 80px);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #293239;
}